.price{
   font: 'opensans-bold', sans-serif;
   font-size: 25px;
   padding: 0 0 0 5%;
   color: rgb(28, 19, 88);
   margin: 20%;
}
.package{
    font: 'opensans-bold', sans-serif;
    font-size: 25px;
    padding: 0 0 0 5%;    
    font-weight: 200;
}